{% extends "base.html.twig" %}


{% block title %}Liste der Spiele{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-body">
            <h3 class="float-left">Offene Spiele</h3>
            <a class="btn btn-primary float-right btn-raised" href="/add"><i class="fa fa-plus"></i> Neues Spiel</a>
            <div class="clearfix mb-3"></div>
            <table class="table table-hover">
                <tr>
                    <th>Team A</th>
                    <th class="text-center">Punkte</th>
                    <th class="text-right">Team B</th>
                </tr>
                {% for game in games %}
                    {% if game.isFinished() == false %}
                    <tr onclick="document.location.href = '/detail/{{ game.id }}'">
                        <td>
                            {{ game.playeroneteama.name }}, {{ game.playertwoteama.name }}
                        </td>
                        <td class="text-center">
                            <h4>{{ game.getPointsTeamA() }}:{{ game.getPointsTeamB() }}</h4>
                        </td>
                        <td class="text-right">
                            {{ game.playeroneteamb.name }}, {{ game.playertwoteamb.name }}
                            <i class="fal fa-arrow-right"></i>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <h3 class="float-left">Beendete Spiele</h3>
            <a class="btn btn-info float-right btn-raised" href="/statistics"><i class="fa fa-chart-line"></i> Statistik</a>
            <div class="clearfix mb-3"></div>
            <table class="table ">
                <tr>
                    <th>Team A</th>
                    <th class="text-center">Punkte</th>
                    <th class="text-right">Team B</th>
                </tr>
                {% for game in games %}

                    {% if game.isFinished() %}
                    <tr onclick="document.location.href = '/detail/{{ game.id }}'">
                        <td>
                            {{ game.playeroneteama.name }}, {{ game.playertwoteama.name }}
                        </td>
                        <td class="text-center">
                            <h4>{{ game.getPointsTeamA() }}:{{ game.getPointsTeamB() }}</h4>
                        </td>
                        <td class="text-right">
                            {{ game.playeroneteamb.name }}, {{ game.playertwoteamb.name }}
                            <i class="fal fa-arrow-right"></i>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
